{% extends 'base.html' %}

{% block title %} SGE - Cadastrar Fornecedor {% endblock title %}

{% block content %}

 <div class="container mt-6">
      <h3 class="display-6">Cadastrar Fornecedor</h3>
    
    <div class="card">
        <div class="card-body">

          <form method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
          
            <button class="btn btn-primary" type="submit">
              <i class="bi bi-save"></i> Salvar
            </button>
          </form>
        </div>
    </div>

    <!-- Botão para cancelar e voltar -->
    <a href="{% url 'supplier_list' %}" class="btn btn-secondary mt-3">
      <i class="bi bi-x-circle"></i> Cancelar
    </a> 
  </div>  
{% endblock content %}