{% extends 'base.html' %}

{% block title %} SGE - Detalhes da Entrada {% endblock title %}

{% block content %}

<div class="container mt-6">
	<h3 class="display-10">Detalhes da Entrada</h3>

	<div class="card">
		<div class="card-body">
			<h3 class="card-title">{{ inflow.product}}</h3>
			<p class="card-text">Fornecedor: <strong>{{ inflow.supplier }}</strong></p>
			<p class="card-text">Quantidade: <strong>{{ inflow.quantity }}</strong></p>
			<p class="card-text">{{ inflow.description }}</p>
		</div>
	</div>

	<!-- Botão para cancelar e voltar -->
	<a href="{% url 'inflow_list' %}" class="btn btn-secondary mt-3">
		<i class="bi bi-arrow-left-circle"></i> Voltar
	</a>
</div>

{% endblock content %}